.btn {
    width: auto;
    height: 47px;
    margin: 10px 10px;
    font-family: "Bebas Neue";
    color: rgba(199, 194, 194, 0.534);
    font-size: 24px;
    background-color: rgba(151, 148, 148, 0.116);
    padding: 10px 10px;
    transition: all 0.4s;
    text-align: center;
}

    .btn:hover {
        background-color: rgba(199, 194, 194, 0.534);
        color: rgba(0, 0, 0, 0.363);
        cursor: pointer;
    }

.aciveBtn {
    background-color: rgba(199, 194, 194, 0.534);
    color: rgba(0, 0, 0, 0.363);
}

.disabBtn {
    background-color: rgba(0, 0, 0, 0.514);
}

    .disabBtn:hover {
        background-color: rgba(0, 0, 0, 0.514);
        color: rgba(199, 194, 194, 0.534);
        cursor: not-allowed;
    }
